[submodule ".registry"]
	path = .registry
	url = https://github.com/litmusverse/litmusverse.r-universe.dev
	branch = HEAD
[submodule "basic"]
	path = basic
	url = https://github.com/litmusverse/basic
[submodule "license.testing"]
	path = license.testing
	url = https://github.com/litmusverse/license-testing
[submodule "minimal"]
	path = minimal
	url = https://github.com/litmusverse/minimal
